<section id="about" class="about sec-pad">
    <div class="main-container">
      <h2 class="heading heading-sec heading-sec__mb-med">
        <span class="heading-sec__main">{{content.about.title}}</span>
        <span class="heading-sec__sub">
          {{content.about.resume}}
        </span>
      </h2>
      <div class="about__content">
        <div class="about__content-main">
          <h3 class="about__content-title">{{content.about.call}}</h3>
          <div class="about__content-details">
            <p class="about__content-details-para">
              <strong>Roberto Tibes</strong>
              {{content.about.content1 }}
            </p>
            <p class="about__content-details-para">
              {{content.about.content2 }}
            </p>
          </div>
          <a href="./#contact" class="btn btn--med btn--theme dynamicBgClr"
            > {{content.header.contact}} </a
          >
        </div>
        <div class="about__content-skills">
          <h3 class="about__content-title">{{ content.about.skills}}</h3>
          <div class="skills">
            <div class="skills__skill">HTML</div>
            <div class="skills__skill">CSS</div>
            <div class="skills__skill">JavaScript</div>
            <div class="skills__skill">Angular</div>
            <div class="skills__skill">SASS</div>
            <div class="skills__skill">GIT</div>
            <div class="skills__skill">Android</div>
            <div class="skills__skill">IOS</div>
            <div class="skills__skill">Python</div>
            <div class="skills__skill">Data Science</div>
          </div>
        </div>
      </div>
    </div>
  </section>
  