
<footer class="main-footer">
    <div class="main-container">
      <div class="main-footer__upper">
        <div class="main-footer__row main-footer__row-1">
          <h2 class="heading heading-sm main-footer__heading-sm">
            <span>{{content.footer.social}} </span>
          </h2>
          <div class="main-footer__social-cont">
            <a target="_blank" rel="noreferrer" href="#">
              <img
                class="main-footer__icon"
                src="./assets/png/linkedin-ico.png"
                alt="icon"
              />
            </a>
            <a target="_blank" rel="noreferrer" href="#">
              <img
                class="main-footer__icon"
                src="./assets/png/github-ico.png"
                alt="icon"
              />
            </a>
            <a target="_blank" rel="noreferrer" href="#">
              <img
                class="main-footer__icon"
                src="./assets/png/twitter-ico.png"
                alt="icon"
              />
            </a>
            <a target="_blank" rel="noreferrer" href="#">
              <img
                class="main-footer__icon"
                src="./assets/png/yt-ico.png"
                alt="icon"
              />
            </a>
            <a target="_blank" rel="noreferrer" href="#">
              <img
                class="main-footer__icon main-footer__icon--mr-none"
                src="./assets/png/insta-ico.png"
                alt="icon"
              />
            </a>
          </div>
        </div>
        <div class="main-footer__row main-footer__row-2">
          <h4 class="heading heading-sm text-lt">Roberto Tibes</h4>
          <p class="main-footer__short-desc">
            {{content.introduction.content}} 
          </p>
        </div>
      </div>
  
      <div class="main-footer__lower">
        &copy; Copyright 2021. Base structure made by
        <a rel="noreferrer" target="_blank" href="https://rammaheshwari.com"
          >Ram Maheshwari
        </a><br>
          &copy; Copyright 2023. transfigured to angular by 
        <a target="_blank" href="https://github.com/Tibes1">Tibes
        </a>
      </div>
    </div>
  </footer>