<app-header [content]="content "></app-header>

<app-home-hero [content]="content"></app-home-hero>

<app-about id="about"[content]="content " ></app-about>

<app-projects id="projects" [content]="content"></app-projects>

<app-contact id="contact" [content]="content"></app-contact>

<app-footer [content]="content"></app-footer>

<button (click)="clicked()">{{ arrived ? 'Reset' : 'Resolve' }}</button>

  <h1>
    ---------------- LOG
  </h1>
  <p>
    {{lang}}
  </p>
  <p>
    ---
  </p>
  <p>
    {{selectedLanguage | json}}
  </p>
  <p>
    ----
  </p>
  <p>
    {{ selectedLanguage.content.about[0] | json}}
  </p>
  <p>
    {{content | json }}
  </p>